/* Utilities */

:root {
	--header-height: 70px;
	--main-color: #be3144; 
	--secondary-color: #F5F5F5;
	--font-color: #333;
	--font-size: 16px;
}

* {
	box-sizing: border-box;
	font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
	color: var(--font-color);
}

html, body {
	padding: 0;
	margin: 0;
}

.main {
	padding-top: var(--header-height);
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0;
}

.alert {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.alert
.message {
	word-wrap: break-word;
	overflow: auto;
	padding-right: 20px;
}

.alert
.close {
	position: absolute;
	right: 9px;
	cursor: pointer;
}

.alert.alert-success {
	background-color: #D4EDDA;
	color: #155724;
	border: 1px solid #C3E6CB;
}

.alert.alert-error {
	background-color: #F8D7DA;
	color: #721C24;
	border: 1px solid #F5C6CB;
}

/* Header and Navbar */
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	width: 100%;
	height: var(--header-height);
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header
.logo {
	display: flex;
	align-items: center;
	height: var(--header-height);
}

.header
.logo img {
	width: 100px;
	padding-top: 8px;
}

.header
.nav a {
 text-decoration: none;
 padding: 10px 15px;
 color: var(--font-color);
 font-size: 16px;
 font-weight: 400;
 border-radius: 4px;
 transition: all 0.1s;
}

.header .nav a.active,
.header .nav a.active:hover {
	color: #fff !important;
	background-color: var(--main-color); 
}

.header
.nav ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: flex;
	height: var(--header-height);
	align-items: center;
	gap: 8px;
}

.header
.menu-toggle {
	font-size: 20px;
	display: none;
}

.navbar
.logout-btn {
	background-color: #333;
	border: none;
	color: #fff;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 11px 15px;
	margin-left: 10px;
	cursor: pointer;
	font-size: 16px;
}

.sidebar {
	padding: 20px;
}

/* Right side bar menu */
.right.sidebar {
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	background-color: #F5F5F5;
	height: 100vh;
	z-index: 100; /* Make sure sidebar is above everything */
	transition: right 0.3s ease-in-out;
}

.right.sidebar.toggle {
	right: 0;
}

.right.sidebar
.menu {
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.right.sidebar
a {
	text-decoration: none;
	color: var(--font-color);
}

.right.sidebar a.active,
.right.sidebar a.active:hover {
	color: var(--main-color);
}


.right.sidebar
.close-toggle {
	display: flex;
	justify-content: flex-end;
	margin-top: -10px;
}

.right.sidebar
.close-toggle i {
	font-size: 20px;
	padding: 10px;
	margin-right: -5px;
}

/* Form page */
.form-page {
	height: calc(100vh - var(--header-height));
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-page form {
	width: 100%;
	max-width: 350px;
	margin-top: 15px;
}

.form-page h1 {
	margin-top: 80px;
}

.form-page
.form-control {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.form-page
.form-control label {
	margin-bottom: 5px;
}

.form-page
.form-control
input {
	border: 1px solid #cfcfcf;
	padding: 5px;
	border-radius: 4px;
	font-size: 16px;
	color: #333333d0;
}

.form-page 
.form-control input:focus {
	outline: 1px solid #c9c9c9;
}

.form-page
.submit-button {
	margin-top: 3px;
	width:fit-content;
	padding: 7px 12px 9px 12px;
	border: none;
	border-radius: 4px;
	background-color: var(--main-color);
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.form-page
.validation-error {
	color: #DC3545;
	font-size: 14px;
	font-weight: 400;
	margin-top: 4px;
	display: block;
	margin-bottom: 0;
}

.form
.alert {
	margin-top: 0px;
	margin-bottom: 15px;
	border-radius: 5px;
	padding: 10px;
}

@media screen and (max-width: 768px) {
	.header
	.menu-toggle {
		font-size: 20px;
		padding: 10px;
		display: block;
	}

	.header
	.menu-item {
		display: none;
	}

}